@import "vars";
@import "typography";
@import "mixins";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: $font-primary;
}
body {
  font: {
    size: $font-size;
    weight: $font-weight-normal;
    family: $font-primary;
  }
  line-height: 1.6;
}

.container {
  min-height: 100vh;
  width: 100vw;
  padding: 0 2rem;
  @include apply-background-image;
  @include apply-theme("background-color", "color-background");

  @include desktop {
    padding: 0 1rem;
  }
}

@mixin content-wrapper {
  max-width: 600px;
  width: 100%;
  margin: auto;
}

/* HEADER */
.header {
  
  padding: 3.2rem 0 2.2rem 0;
  @include content-wrapper;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    letter-spacing: 12px;
    font-weight: $font-weight-bold;
    color: white;
  }
  &__btn-switch-theme {
    background-color: transparent;
    cursor: pointer;
    border: none;
  }
}

/* MAIN */
.main {
  @include content-wrapper;
}

/* ADD-TODO */
.add-todo {
  &__wrapper {
    display: flex;
    padding: 1.25rem;
    gap: 1.25rem;
    border-radius: 8px;
    @include apply-theme("background-color", "color-card-background");
    @include apply-theme("box-shadow", "box-shadow-card");
  }
  &__btn {
    min-width: 1.5rem;
    min-height: 1.5rem;
    cursor: pointer;
    @include btn-on-hover;
    &:hover {
      @include on-hover-effect;
    }
  }
  &__input {
    width: 100%;
    background-color: inherit;
    border: none;
    outline: none;
    font-size: 18px;
    @include apply-theme("color", "color-input-text");

    &::placeholder {
      color: $dark-grayish-blue;
    }
  }
}

// TODO-CARD
.todo-card {
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1.5rem;
  border-radius: 8px;
  @include apply-theme("background-color", "color-card-background");
  @include apply-theme("box-shadow", "box-shadow-card");
  
  &__empty-list {
    margin-top: 1.5rem;
    text-align: center;
    @include apply-theme("color", "color-empty-list-text");
    
  }
  &__list {
    list-style: none;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    gap: 1.25rem;
    
    @include apply-theme("border-bottom", "color-item-border-bottom");
    

    &:hover .todo-card__item-delete {
      opacity: 1;
    }
    &:hover .todo-card__item-check {
      @include on-hover-effect;
    }
    &:hover .todo-card__item-check--checked {
      @include btn-checked;
    }
  }
  &__item-check {
    min-width: 1.5rem;
    min-height: 1.5rem;
    cursor: pointer;
    @include btn-on-hover;
  }
  &__item-check--checked {
    
    position: relative;
    @include btn-checked;

    &::before {
      content: "";
      width: 10px;
      height: 10px;
      background-image: url("../assets/icons/icon-check.svg");
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    //   > .todo-card__icon-check
  //     opacity: 1

  // &__icon-check
  //   opacity: 0
  }
  &__item-text {
    word-break: break-word;
    transition: .25s;
    @include apply-theme("color", "color-item-text");
    
  }
  &__item-text--completed {
    text-decoration-line: line-through;
    @include apply-theme("color", "color-item-completed-text");
  }
  &__item-delete {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: auto;
    background-color: inherit;
    border: none;
    opacity: 0;
    transition: .25s;
    cursor: pointer;
  }
  &__icon-cross {
    width: 20px;
    height: 20px;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    gap: 1rem;

    .todo-filters {
      @include desktop {
        display: none;
      }
    }
  }
  &__items-left {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 1.2;
    @include apply-theme("color", "color-filters");
  }
  &__clear-items {
    font-size: 16px;
    font-weight: 400;
    background-color: inherit;
    border: none;
    transition: .25s;
    line-height: 1.2;
    @include apply-theme("color", "color-filters");

    &:hover {
      cursor: pointer;
      @include apply-theme("color", "color-filters-hover");
    }
  }
}

// TODO-FILTERS
.todo-filters {

  &__btn {
    font-size: 16px;
    font-weight: 700;
    background-color: inherit;
    border: none;
    transition: .25s;
    @include apply-theme("color", "color-filters");

    &:hover {
      cursor: pointer;
      @include apply-theme("color", "color-filters-hover");
    }
  }
  .selected {
    color: $bright-blue;
  }
}

    // &:active
    //   color: $bright-blue
  
.todo-filters * + * {
  margin-left: 1rem;
}

.filter-mobile {
  margin-top: 1.25rem;
  padding: 1.25rem;
  border-radius: 8px;
  @include apply-theme("background-color", "color-card-background");
  

  @include mobile {
    display: none;
  }
  .todo-filters {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
  }
}