@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Josefin Sans", sans-serif;
}

body {
  font-size: 18px;
  font-weight: 400;
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.6;
}

.container {
  min-height: 100vh;
  width: 100vw;
  padding: 0 2rem;
}
.dark .container {
  background: url("../assets/images/bg-desktop-dark.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
@media (max-width: 699px) {
  .dark .container {
    background: url("../assets/images/bg-mobile-dark.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
}
.light .container {
  background: url("../assets/images/bg-desktop-light.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
@media (max-width: 699px) {
  .light .container {
    background: url("../assets/images/bg-mobile-light.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
}
.dark .container {
  background-color: #161722;
}
.light .container {
  background-color: #fafafa;
}
@media (max-width: 699px) {
  .container {
    padding: 0 1rem;
  }
}

/* HEADER */
.header {
  max-width: 600px;
  width: 100%;
  margin: auto;
  padding: 3.2rem 0 2.2rem 0;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  letter-spacing: 12px;
  font-weight: 700;
  color: white;
}
.header__btn-switch-theme {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

/* MAIN */
.main {
  max-width: 600px;
  width: 100%;
  margin: auto;
}

/* ADD-TODO */
.add-todo__wrapper {
  display: flex;
  padding: 1.25rem;
  gap: 1.25rem;
  border-radius: 8px;
}
.dark .add-todo__wrapper {
  background-color: #25273c;
}
.light .add-todo__wrapper {
  background-color: #FFF;
}
.dark .add-todo__wrapper {
  box-shadow: 0 35px 50px rgba(0, 0, 0, 0.2);
}
.light .add-todo__wrapper {
  box-shadow: 0 35px 50px rgba(0, 0, 0, 0.1);
}
.add-todo__btn {
  min-width: 1.5rem;
  min-height: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  transition: 0.25s;
}
.dark .add-todo__btn {
  border: 1px solid #393a4c;
}
.light .add-todo__btn {
  border: 1px solid #cacde8;
}
.dark .add-todo__btn {
  background-color: #25273c;
}
.light .add-todo__btn {
  background-color: #FFF;
}
.add-todo__btn:hover {
  border: 1px solid transparent;
  background-image: linear-gradient(to bottom, #57ddff, #c058f3);
  background-origin: border-box;
}
.dark .add-todo__btn:hover {
  box-shadow: 1px 500px 1px #25273c inset;
}
.light .add-todo__btn:hover {
  box-shadow: 1px 500px 1px #FFF inset;
}
.add-todo__input {
  width: 100%;
  background-color: inherit;
  border: none;
  outline: none;
  font-size: 18px;
}
.dark .add-todo__input {
  color: #cacde8;
}
.light .add-todo__input {
  color: #25273c;
}
.add-todo__input::-moz-placeholder {
  color: #777a92;
}
.add-todo__input:-ms-input-placeholder {
  color: #777a92;
}
.add-todo__input::placeholder {
  color: #777a92;
}

.todo-card {
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1.5rem;
  border-radius: 8px;
}
.dark .todo-card {
  background-color: #25273c;
}
.light .todo-card {
  background-color: #FFF;
}
.dark .todo-card {
  box-shadow: 0 35px 50px rgba(0, 0, 0, 0.2);
}
.light .todo-card {
  box-shadow: 0 35px 50px rgba(0, 0, 0, 0.1);
}
.todo-card__empty-list {
  margin-top: 1.5rem;
  text-align: center;
}
.dark .todo-card__empty-list {
  color: #4d5066;
}
.light .todo-card__empty-list {
  color: #777a92;
}
.todo-card__list {
  list-style: none;
}
.todo-card__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  gap: 1.25rem;
  cursor: pointer;
}
.dark .todo-card__item {
  border-bottom: 1px solid #393a4c;
}
.light .todo-card__item {
  border-bottom: 1px solid #e4e5f1;
}
.todo-card__item:hover .todo-card__item-delete {
  opacity: 1;
}
.todo-card__item:hover .todo-card__item-check {
  border: 1px solid transparent;
  background-image: linear-gradient(to bottom, #57ddff, #c058f3);
  background-origin: border-box;
}
.dark .todo-card__item:hover .todo-card__item-check {
  box-shadow: 1px 500px 1px #25273c inset;
}
.light .todo-card__item:hover .todo-card__item-check {
  box-shadow: 1px 500px 1px #FFF inset;
}
.todo-card__item:hover .todo-card__item-check--checked {
  background-image: linear-gradient(to bottom, #57ddff, #c058f3);
  box-shadow: none;
  border: 1px solid transparent;
}
.todo-card__item-check {
  min-width: 1.5rem;
  min-height: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  transition: 0.25s;
}
.dark .todo-card__item-check {
  border: 1px solid #393a4c;
}
.light .todo-card__item-check {
  border: 1px solid #cacde8;
}
.dark .todo-card__item-check {
  background-color: #25273c;
}
.light .todo-card__item-check {
  background-color: #FFF;
}
.todo-card__item-check--checked {
  position: relative;
  background-image: linear-gradient(to bottom, #57ddff, #c058f3);
  box-shadow: none;
  border: 1px solid transparent;
}
.todo-card__item-check--checked::before {
  content: "";
  width: 10px;
  height: 10px;
  background-image: url("../assets/icons/icon-check.svg");
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.todo-card__item-text {
  word-break: break-word;
  transition: 0.25s;
}
.dark .todo-card__item-text {
  color: #cacde8;
}
.light .todo-card__item-text {
  color: #25273c;
}
.todo-card__item-text--completed {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}
.dark .todo-card__item-text--completed {
  color: #4d5066;
}
.light .todo-card__item-text--completed {
  color: #cacde8;
}
.todo-card__item-delete {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: auto;
  background-color: inherit;
  border: none;
  opacity: 0;
  transition: 0.25s;
  cursor: pointer;
}
.todo-card__icon-cross {
  width: 20px;
  height: 20px;
}
.todo-card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  gap: 1rem;
}
@media (max-width: 699px) {
  .todo-card__bottom .todo-filters {
    display: none;
  }
}
.todo-card__items-left {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  line-height: 1.2;
}
.dark .todo-card__items-left {
  color: #4d5066;
}
.light .todo-card__items-left {
  color: #777a92;
}
.todo-card__clear-items {
  font-size: 16px;
  font-weight: 400;
  background-color: inherit;
  border: none;
  transition: 0.25s;
  line-height: 1.2;
}
.dark .todo-card__clear-items {
  color: #4d5066;
}
.light .todo-card__clear-items {
  color: #777a92;
}
.todo-card__clear-items:hover {
  cursor: pointer;
}
.dark .todo-card__clear-items:hover {
  color: #e4e5f1;
}
.light .todo-card__clear-items:hover {
  color: #25273c;
}

.todo-filters__btn {
  font-size: 16px;
  font-weight: 700;
  background-color: inherit;
  border: none;
  transition: 0.25s;
}
.dark .todo-filters__btn {
  color: #4d5066;
}
.light .todo-filters__btn {
  color: #777a92;
}
.todo-filters__btn:hover {
  cursor: pointer;
}
.dark .todo-filters__btn:hover {
  color: #e4e5f1;
}
.light .todo-filters__btn:hover {
  color: #25273c;
}
.todo-filters .selected {
  color: #3a7bfd;
}

.todo-filters * + * {
  margin-left: 1rem;
}

.filter-mobile {
  margin-top: 1.25rem;
  padding: 1.25rem;
  border-radius: 8px;
}
.dark .filter-mobile {
  background-color: #25273c;
}
.light .filter-mobile {
  background-color: #FFF;
}
@media (min-width: 700px) {
  .filter-mobile {
    display: none;
  }
}
.filter-mobile .todo-filters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}/*# sourceMappingURL=App.css.map */