@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Josefin Sans", sans-serif;
}

body {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
}

.container {
  min-height: 100vh;
  width: 100vw;
  padding: 0 2rem;
  background: url("../assets/images/bg-desktop-dark.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #161722;
}

/* HEADER */
.header {
  max-width: 600px;
  width: 100%;
  margin: auto;
  padding: 3.2rem 0 2.2rem 0;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  letter-spacing: 12px;
  font-weight: 700;
  color: white;
}

/* MAIN */
.main {
  max-width: 600px;
  width: 100%;
  margin: auto;
}
/* ADD-TODO */
.add-todo__wrapper {
  display: flex;
  gap: 1.25rem;
  padding: 1.25rem;
  background-color: #25273c;
  border-radius: 8px;
}
.add-todo__btn {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid #393a4c;
  background-color: #25273c;
  transition: 0.25s;
}
.add-todo__input {
  width: 100%;
  color: #cacde8;
  background-color: #25273c;
  border: none;
  outline: none;
  font-size: 18px;
}
.add-todo__input::-moz-placeholder {
  color: #777a92;
}
.add-todo__input:-ms-input-placeholder {
  color: #777a92;
}
.add-todo__input::placeholder {
  color: #777a92;
}

.todo-card {
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1.5rem;
  background-color: #25273c;
  border-radius: 8px;
}
.todo-card__list {
  list-style: none;
}
.todo-card__item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  border-bottom: 1px solid #393a4c;
  padding: 1.25rem;
  cursor: pointer;
}
.todo-card__item:hover .todo-card__item-delete, .todo-card__item:hover .todo-card__item-check {
  opacity: 1;
  border: 1px solid transparent;
  background-image: linear-gradient(to bottom, #57ddff, #c058f3);
  background-origin: border-box;
  box-shadow: 1px 500px 1px #25273c inset;
}
.todo-card__item-check {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid #393a4c;
  background-color: #25273c;
  transition: 0.25s;
}
.todo-card__item-check:hover {
  border: 1px solid transparent;
  background-image: linear-gradient(to bottom, #57ddff, #c058f3);
  background-origin: border-box;
  box-shadow: 1px 500px 1px #25273c inset;
}
.todo-card__item-text {
  color: #cacde8;
}
.todo-card__item-delete {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: auto;
  background-color: inherit;
  border: none;
  opacity: 0;
  transition: 0.25s;
  cursor: pointer;
}
.todo-card__icon-cross {
  width: 20px;
  height: 20px;
}
.todo-card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
}
.todo-card__items-left {
  font-size: 16px;
  font-weight: 400;
  color: #4d5066;
}
.todo-card__clear-items {
  font-size: 16px;
  font-weight: 400;
  color: #4d5066;
  background-color: #25273c;
  border: none;
  transition: 0.25s;
}
.todo-card__clear-items:hover {
  color: #e4e5f1;
}

.todo-filters__btn {
  font-size: 16px;
  font-weight: 700;
  color: #4d5066;
  background-color: inherit;
  border: none;
  transition: 0.25s;
}
.todo-filters__btn:hover {
  color: #e4e5f1;
}
.todo-filters__btn:active {
  color: #3a7bfd;
}

.todo-filters * + * {
  margin-left: 1rem;
}

@media (min-width: 700px) {
  .filter-mobile {
    display: none;
  }
}/*# sourceMappingURL=App.css.map */